.info_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #FA9009;
  background: rgba(250, 144, 9, 0.02);
  padding: 15px;
  box-shadow: 0 4px 18px 0 rgba(75, 70, 92, 0.10);
}

.page_info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 50px;
}

.title_id {
  color: #334155;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: underline;
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_title {
  color: #334155;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 15px;
  font-weight: 700;
}

.info_edit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.info_name {
  width: 150px;
  font-size: 15px;
  font-feature-settings: 'clig' off, 'liga' off;
}
